node_modules/
.next/
out/
dist/
.vercel
.turbo
.pnpm-store/
/.pnp
.pnp.*

.env
.env.*
!.env.example

.DS_Store
*.pem
*.log
npm-debug.log*
pnpm-debug.log*

coverage/
playwright-report/
test-results/

*.tsbuildinfo
next-env.d.ts

.cursor/*.data.json
